<html>
  <head> </head>
  <body>
    <h1>Lebenswiki App - Formular zur Account Löschung</h1>
    <p>Hier können Nutzer der Lebenswiki App ihr User Account löschen.</p>
    <p>
      Alle Benutzerdaten werden nach Einreichen der Löschung mit dem Knopf
      "Einreichen" sofort gelöscht.
    </p>
    <p>
      Wir Löschen alle Benutzerdaten mit persönlichen Informationen.
      Benutzerdaten die gelöscht werden:
    </p>
    <ul>
      <li>Email</li>
      <li>Password</li>
      <li>Name</li>
      <li>Biografie</li>
      <li>Profilbild und Gewählter Avatar</li>
      <li>Erstellte Packs</li>
      <li>Erstellte Shorts</li>
      <li>Kommentare</li>
      <li>Welche Shorts und Packs sie gespeichert haben</li>
      <li>Welche Packs sie gelesen haben</li>
    </ul>
    <h2>Account löschen</h2>
    <form action="/user/delete/special" method="post">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required /><br /><br />
      <label for="password">Password:</label>
      <input
        id="password"
        name="password"
        type="password"
        required
      /><br /><br />
      <input type="submit" value="Einreichen" />
    </form>
    <h2>Kontakt</h2>
    <p>Email: lebenswiki@gmail.com</p>
    <br />
  </body>
</html>
